@charset "utf-8";
/* -----------------------------------------------------------
HTML5 Basic layout
----------------------------------------------------------- */
body {
	color: #000000;
	line-height: 1.5;
	font-size: 1.5rem;
	min-width: 1024px;
	_display: inline;
	_zoom: 1;
	text-align: justify;
	text-justify: inter-ideograph;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding: 0px;
	-webkit-font-smoothing: subpixel-antialiased;
	background-color: #FDF7F9;
}

html {
	width:100%;
	height: 100%;
	font-size: 62.5%;
	overflow-y: scroll;
}


footer {
	margin: 0px;
	padding: 0px;
	background-color: #cd3301;

	position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
	left:0;
	right:0;
}

footer .inner {
	width: 1000px;
	height: auto;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.3rem;
	color: #FFF;
	margin: 0 auto 0 auto;
	padding: 20px 0 20px 0;


}

footer img {
	display:block;
	padding-bottom:10px;
	overflow:auto; zoom:1;
	text-align:center;
	margin:auto;
	
}

dl {
	margin: 0;
	padding: 0px;
	margin: 0 auto;
	width: 100%;
	margin: 0 auto;
	width: 450px;
}

dl dt {
	font-family: "Noto Sans Japanese", sans-serif;
	font-weight: 600;
	margin: 0 0 10px 0;
}

dl dd {
	margin: 0 0 20px 0;
}

/* -----------------------------------------------------------
 login form
----------------------------------------------------------- */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

button, input, select, textarea {
	font-family : inherit;
	font-size : 100%;
}

input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	appearance: none;
}

input[type="text"],input[type="password"], input[type="text"],
textarea {
	outline: none;
	border: 1px solid #D6D6D6;
	-webkit-transition: all .3s;
	transition: all .3s;
	background-color: #FFF;
	font-weight: 500;
	font-size: 2rem;
	width: 440px;
	height:30px;
	font-family: "Noto Sans Japanese", sans-serif;
	padding: 10px 10px 10px 10px;
}

input[type="text"],input[type="password"],input[type="email"],
textarea {
	outline: none;
	border: 1px solid #D6D6D6;
	-webkit-transition: all .3s;
	transition: all .3s;
	font-weight: 500;
	font-size: 2rem;
	width: 440px;
	padding: 10px 10px 10px 10px;
}

input[type="text"]:focus, input[type="password"]:focus,
textarea:focus {
	box-shadow: 0 0 7px #D6D6D6;
	border: 1px solid #D6D6D6;
}

input::-ms-clear {
	visibility: hidden;
}

input::-ms-reveal {
	visibility: hidden;
}

textarea {
	resize: none;
}

.login_button {
	display: inline-block;
	width:460px;
	height:auto;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	padding: 18px 18px;
	background: #cd3301;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	font-family: "Noto Sans Japanese", sans-serif;
	font-weight: 500;
	font-size:1.8rem;
}

.login_button:hover {
	box-shadow: none;
	color: #FFFFFF;
	background-color: #00A2D7;
}

.pw_button {
	display: inline-block;
	width:460px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	padding: 18px 18px;
	background: #5AB8B7;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	font-family: "Noto Sans Japanese", sans-serif;
	font-weight: 500;
	font-size:1.8rem;
}

.pw_button:hover {
	box-shadow: none;
	color: #FFFFFF;
	background: #99D3D2;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }

input::placeholder {
	color: #CCC;
	font-size:2rem;
}

input:-ms-input-placeholder {
	color: #CCC;
	font-size:2rem;
}

input::-ms-input-placeholder {
	color: #CCC;
	font-size:2rem;
}

.use_icon{
	display: inline-block;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
