# Ignore
.git_dinhvankhanh107
.history
.vscode
*.rar
*.zip
*BK*
*Copy*
images/
vendor
*.gif
*.png
*.jpg
*.csv
*.svg
*.sql
*.html
*.pdf
*.xlsx
*.exe
*.jar

member/wp-content/languages

!member/wp-content/themes
member/wp-content/themes/*/
!member/wp-content/themes/SSKCloud_Deisgn_theme/
!member/wp-content/themes/SSKCloud_Deisgn_theme1/

# config WP 
# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
wp-admin/
wp-content/index.php
wp-content/languages/*
wp-content/plugins/index.php
wp-includes/
license.txt
readme.html
wp-*.php
xmlrpc.php

# Configuration
# wp-config.php

# Example themes
wp-content/themes/twenty*

# Example plugin
wp-content/plugins
plugins

# Uploads
wp-content/uploads/


# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes